<div class="header-space"></div>

<div class="container" style="padding: 0px 15px;">
<div class="container recipe-edit-container df-card">

  <div class="page-header">
    <h1>
      <%= @title %>
    </h1>
    <% if @recipe.new_record? %>
    <p class="lead" style="color: #777;">A dish can be anything, including an entree, dessert, or even a drink!</p>
    <% end %>
  </div>

  <div class="form">

    <input type="hidden" name="id" value="<%= @recipe.id %>"/>


    <div class="form-group">

      <label>Title</label>
      <input type="text" name="title" class="form-control input-lg" placeholder="Enter title here." value="<%= @recipe.title %>"/>
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control input-lg" rows="5" name="description" placeholder="Enter description here."><%= @recipe.description %></textarea>
    </div>

    <hr>

    <h2><i class="fa fa-list-ol"></i>How to Make</h2>

    <div class="well well-slim">
      <div class="checkbox">
        <label style="font-weight: 200;">
          <input type="checkbox" onclick="toggleHowToMakeVisible(this);">
          I don't have the directions, or would prefer not to enter.
        </label>
      </div>
      <div class="help-block small text-muted" style="font-weight: 200;">
        <i class="fa fa-question-circle"></i>
        You can make the recipe private in the <strong>Privacy</strong> section at the bottom.
      </div>
    </div>

    <div class="howtomake-fields">
    <div class="form-group">
      <label>Ingredients</label>
      <textarea class="form-control input-lg" name="ingredients" placeholder="Butter
Eggs
Flour
. . ." rows="10"><%= @recipe.ingredients %></textarea>
      <div class="help-block small text-muted">
        <i class="fa fa-question-circle"></i>
        Enter each ingredient on a new line.
      </div>
    </div>

    <div class="form-group">
      <label>Directions</label>
      <textarea class="form-control input-lg" name="directions" placeholder="1. Preheat oven to 350.
2. And then . . ." rows="10"><%= @recipe.directions %></textarea>
      <div class="help-block small text-muted">
        <i class="fa fa-question-circle"></i>
        Enter each step on a new line with a number in front.
      </div>
    </div>

    <div class="form-group">
      <label>Preparation Time</label>
      <div class="row">
        <div class="col-xs-6 col-sm-4">
        <div class="input-group input-group-lg">

          <input type="number" name="prep_time_hours" class="form-control" placeholder="0" value="<%= @recipe.prep_time_details[:hours] %>">
          <span class="input-group-addon">hours</span>
        </div>
        </div>
        <div class="col-xs-6 col-sm-4">
        <div class="input-group input-group-lg">
          <input type="number" name="prep_time_minutes" class="form-control" placeholder="30" value="<%= @recipe.prep_time_details[:minutes] %>">
          <span class="input-group-addon">minutes</span>
        </div>
        </div>
      </div>
    </div>
    </div>

    <hr>

    <h2><i class="fa fa-shopping-cart"></i>Where To Buy</h2>
    <div class="form-group">
      <textarea class="form-control input-lg" name="purchase_info" placeholder="(Optional) Enter instructions for how to purchase this dish pre-made. Website links, store names, and locations are all helpful."><%= @recipe.purchase_info %></textarea>
    </div>

    <hr>

    <h2><i class="fa fa-info-circle"></i>More Info</h2>

    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <div class="form-group">
          <label>Serving Size</label>
          <div class="input-group input-group-lg">
            <input type="text" name="serving_size" class="form-control" placeholder="e.g. 8" value="<%= @recipe.serving_size %>"/>
            <span class="input-group-addon">servings</span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Dish Tags</label>
      <textarea class="form-control input-lg" name="tags" placeholder="dinner, italian, healthy, ..."><%= @recipe.tags_to_str %></textarea>
      <div class="help-block small text-muted">
        <i class="fa fa-question-circle"></i>
        Enter tags separated by a comma, like: dinner, italian, healthy.
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputFile">Image Upload</label>
      <input type="file" name="image"> 
      <% if @recipe.image.url != nil %>
        <img src="<%= @recipe.image.url %>" style="width: 150px;"/>
      <% else %>
        <div class="help-block small text-muted">
          <i class="fa fa-question-circle"></i>
          Don't have an image yet? Find a good one on <a href="https://images.google.com" target="_blank">Google Images</a> for now.
        </div>
      <% end %>
    
    </div>
    <div class="form-group">
      <label>Privacy</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="is_recipe_private" <%= @recipe.is_recipe_private ? "checked" : "" %>>Hide the ingredients and directions, so only I can see it. 
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="is_private" <%= @recipe.is_private ? "checked" : "" %>> Make this entire dish private, so only I can see it. 
        </label>
      </div>
    </div>

    <hr>

    <div class="form-group">
      <button type="button" class="btn btn-success btn-lg" onclick="saveRecipe();">
        <i class="fa fa-check"></i>
        Save Dish
      </button>
      <% if @recipe.id != nil %>
        <button type="button" class="btn btn-danger pull-right" onclick="promptDeleteRecipe();">
          <i class="fa fa-trash"></i>
           Delete
        </button>
      <% end %>

    </div>

  </div>


</div>
</div>
