<div class="header-space"></div>

<div class="container">

  <div class="page-header">
    <h1><%= @title %></h1>
  </div>

  <form class="form">

    <input type="hidden" name="id" value="<%= @recipe.id %>"/>

    <div class="form-group">

      <label>Title</label>
      <input type="text" name="title" class="form-control input-lg" placeholder="Enter title here." value="<%= @recipe.title %>"/>
    </div>

    <div class="form-group">
      <label>Serving Size</label>
      <input type="text" name="serving_size" class="form-control input-lg" placeholder="e.g. Serves 8 people." value="<%= @recipe.serving_size %>"/>
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control input-lg" name="description" placeholder="Enter description here."><%= @recipe.description %></textarea>
    </div>

    <div class="form-group">
      <label>Ingredients</label>
      <textarea class="form-control input-lg" name="ingredients" placeholder="- Butter
- Eggs
- Flour
- . . ." rows="10"><%= @recipe.ingredients %></textarea>
    </div>

    <div class="form-group">
      <label>Directions</label>
      <textarea class="form-control input-lg" name="directions" placeholder="1. Preheat oven to 350.
2. And then . . ." rows="10"><%= @recipe.directions %></textarea>
    </div>

    <div class="form-group">
      <label>Preparation Time</label>
      <div class="row">
        <div class="col-xs-6">
        <div class="input-group input-group-lg">

          <input type="number" name="prep_time_hours" class="form-control" placeholder="0" value="<%= @recipe.prep_time_details[:hours] %>">
          <span class="input-group-addon">hours</span>
        </div>
        </div>
        <div class="col-xs-6">
        <div class="input-group input-group-lg">
          <input type="number" name="prep_time_minutes" class="form-control" placeholder="30" value="<%= @recipe.prep_time_details[:minutes] %>">
          <span class="input-group-addon">minutes</span>
        </div>
        </div>
      </div>
    </div>


    <div class="form-group">
      <label>Recipe Tags</label>
      <textarea class="form-control input-lg" name="tags" placeholder="Enter dish type(s)."><%= @recipe.tags_to_str %></textarea>
    </div>

    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" name="image">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="is_private" <%= @recipe.is_private ? "checked" : "" %>> Make this recipe private, so only I can see it. 
      </label>
    </div>
  </form>

  <button type="button" class="btn btn-success btn-lg" onclick="saveRecipe();">
    <i class="fa fa-check"></i>
    Save Recipe
  </button>

  <% if @recipe.id != nil %>
    <button type="button" class="btn btn-danger pull-right" onclick="promptDeleteRecipe();">
      <i class="fa fa-trash"></i>
       Delete
    </button>
  <% end %>

</div>
