<div class="header-space" style="height: 60px"></div>

<div class="container-fluid recipes-container">

  <div class="recipes-content">
    <div class="recipes-filter">
      <div class="links">
        <a href="/dishes?order=newest" class="<%= "active" if @order == "newest" %>">Newest Dishes</a>
        <a href="/dishes?order=popular" class="<%= "active" if @order == "popular" %>">Popular Dishes</a>
        <% if signed_in? %>
        <a href="/dishes?creator=friends" class= "<%= "active" if @filter_creator == "friends" %>">My Friends' Dishes</a>
        <a href="/dishes?creator=me" class="<%= "active" if @filter_creator == "me" %>">My Dishes</a>
        <a href="/dishes?favorite=true" class="<%= "active" if @filter_favorite == true %>">My Favorites</a>
        <% end %>
      </div>

      <div class="dropdown inline">
        <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-filter" style="margin-right: 5px; opacity: 0.5;"></i>Filter Dishes<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right" style="width: 250px;">
          <div class="col-xs-6">
            <div class="dropdown-section-header">
              Created By
            </div>
            <div class="dropdown-section-body">
              <a class="menu-option" data-scope="creator" data-value="all">
                Everyone
              </a>
              <% if signed_in? %>
              <a class="menu-option" data-scope="creator" data-value="friends">
                My Friends
              </a>
              <a class="menu-option" data-scope="creator" data-value="me">
                Me
              </a>
              <% end %>
            </div>
            <div class="dropdown-section-header">
              Order By
            </div>
            <div class="dropdown-section-body">
              <a class="menu-option" data-scope="order" data-value="newest">
                Newest
              </a>
              <a class="menu-option" data-scope="order" data-value="popular">
                Popular
              </a>
              <a class="menu-option" data-scope="order" data-value="quickest">
                Quickest
              </a>
            </div>
            <% if signed_in? %>
            <div class="dropdown-section-header">
              More
            </div>
            <div class="dropdown-section-body">
              <a class="menu-option" data-scope="favorites" data-value="true">
                Favorites
              </a>
            </div>
            <% end %>
          </div>
          <div class="col-xs-6">
            <div class="dropdown-section-header">
              Tags
            </div>
            <div class="dropdown-section-body">
              <a class="menu-option" data-scope="tag" data-value="all">
                All
              </a>
              <a class="menu-option" data-scope="tag" data-value="dinner">
                Dinner
              </a>
              <a class="menu-option" data-scope="tag" data-value="lunch">
                Lunch
              </a>
              <a class="menu-option" data-scope="tag" data-value="breakfast">
                Breakfast
              </a>
              <a class="menu-option" data-scope="tag" data-value="dessert">
                Dessert
              </a>
              <a class="menu-option" data-scope="tag" data-value="quick">
                Quick
              </a>
              <a class="menu-option" data-scope="tag" data-value="healthy">
                Healthy
              </a>
              <a class="menu-option" data-scope="tag" data-value="vegetarian">
                Vegetarian
              </a>
              <a class="menu-option" data-scope="tag" data-value="vegan">
                Vegan
              </a>
              <a class="menu-option" data-scope="tag" data-value="sides">
                Sides
              </a>
              <a class="menu-option" data-scope="tag" data-value="drinks">
                Drinks
              </a>
            </div>
          </div>
          <div class="col-xs-12 dropdown-search">
            <div class="dropdown-section-header">
              Search
            </div>
            <div class="dropdown-section-body" style="padding: 0px 10px;">
              <input type="text" placeholder="Search Dishes" style="width: 100%;" name="dropdown-search" onkeyup="handleRecipeTyping(event, this);">
            </div>
        </ul>
      </div>

    </div>

    <%= render partial: "tile_grid", locals: {recipes: @recipes} %>

  </div>
</div>

<script>

var filter_scope = {};
filter_scope['creator'] = '<%= @filter_creator %>';
filter_scope['favorite'] = '<%= @filter_favorite %>';
filter_scope['tag'] = '<%= @filter_tag %>';
filter_scope['order'] = '<%= @order %>';

function updateFilter(scope) {
  var cf = getURLParams();
  $.extend(cf, scope);
  var nu = $.param(cf);
  window.location.href = "/dishes?" + nu;
}
$(function() {
  $('.dropdown a.menu-option').click(function() {
    const $el = $(this);
    var scope = {};
    var key = $el.attr('data-scope');
    var val = $el.attr('data-value');
    scope[key] = val;
    updateFilter(scope);
  });
  const params = getURLParams();
  // highlight links
  for (var key in filter_scope) {
    var val = filter_scope[key];
    $("[data-scope=" + key + "][data-value=" + val + "]").addClass("active");
  }
  if (params.q) {
    $('input.recipe-search-input').val(params.q);
  }
});
</script>

<style>
.recipes-filter {
  display: flex;
}
.recipes-filter .links {
  flex: 1;
}
</style>
