<div class="profile-header row">
  <div class="profile-picture col-xs-3 col-sm-2 text-center">
    <img src="<%= @user.picture_url %>" class="img-circle" style="width: 80px; height: 80px;"/>
  </div>

  <div class="profile-name col-xs-9 col-sm-10 col-md-6" style="padding-top: 25px;">
    <div class="profile-full-name">
      <%= @user.full_name %>

      <% if @following.present? %>
        <button type="button" class="btn btn-clear" style="margin-right: 5px;" onclick="deleteFollowing(<%= @following.id %>, ['.profile-full-name', '.profile-status']);">
          Unfollow
        </button>
      <% else %>
        <button type="button" class="btn btn-clear" style="margin-right: 5px;" onclick="followUser(<%= @user.id %>, ['.profile-full-name', '.profile-status']);">
          Follow
        </button>
      <% end %>
      <% if is_me?(@user) %>
        <a  type="button" class="btn btn-clear" style="margin-right: 5px;" href="/account";>
          <i class="fa fa-cog" aria-hidden="true"></i>
          Settings
        </a>
      <% end %>
    </div>

    <div class="user-bio">
      <div class="status-bio" style="padding: 5px;">
        <span class="bio-text" style="font-weight: 200;"><%= @user.bio %></span>
        <% if is_me?(@user) %>
          <a onclick="showStatusEditor()" style="padding-left: 10px;">Edit Bio</a>
        <% end %>
      </div>
      
      <div class="status-editor" style="display: none;">
        <textarea class="form-control" name="bio"> </textarea>
        <a onclick="saveStatus()">save</a> <a onclick="hideStatusEditor()" style="padding-left: 5px;">cancel</a>
      </div>
    </div>
      <!-- Go to www.addthis.com/dashboard to customize your tools --> 
    <div class="addthis_inline_share_toolbox" style="margin: 5px;"></div>
  </div>
  
  <div class="profile-status col-xs-12 text-center" style="">

    <div class="row">

      <div class="status-info col-xs-3">
        <div class="status-info-number">
          <i class="fa fa-fire"></i>
          <%= @user.favorites_count %>
        </div>
        <div class="status-info-title">
          ChefScore
          <i class="fa fa-question-circle" data-toggle="tooltip" title="Your ChefScore is the total number of favorites you have on all your dishes."></i>
        </div>
      </div>

      <div class="status-info col-xs-3">
        <div class="status-info-number">
          <%= @user.recipes.count %>
        </div>
        <div class="status-info-title">
          Dishes
        </div>
      </div>

      <div class="status-info col-xs-3">
        <a href="/member/<%= @user.id %>/followers">
          <div class="status-info-number">
            <%= @user.followings_of_me.count %>
          </div>
          <div class="status-info-title">
            Followers
          </div>
        </a>
      </div>

      <div class="status-info col-xs-3">
        <a href="/member/<%= @user.id %>/following">
          <div class="status-info-number">
            <%= @user.followings_by_me.count %>
          </div>
          <div class="status-info-title">
            Following
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<style>

.profile-header .profile-full-name {
  font-size: 24px;
}
.profile-header .profile-picture {
  padding: 30px;
}

.btn-success {
  margin: 10px;
  
}

.status-info-title {
  font: oblique;
}

</style>

<script>

function showStatusEditor() {
  var $editor = $('.status-editor');
  var $bio = $('.status-bio');
  $editor.show();
  $editor.find("textarea").val($bio.find(".bio-text").text());
  $bio.hide();

}

function hideStatusEditor() {
  var $editor = $('.status-editor');
  var $bio = $('.status-bio');
  $editor.hide();
  $bio.show();
}

function saveStatus() {
  var bio = $('textarea[name=bio]').val();

  data = {
    bio: bio,
  };

  apiRequest({
    url: "/account",
    method: "POST",
    data: data,
    success: function(resp) {
      updatePage([".user-bio"]);
    }
  });


}

</script>
