<div class="recipe-tiles">
    <% if dishes.length == 0 %>
    <div class="placeholder">
        No dishes found, why don't you <a href="/dish/create">add one</a>.
    </div>
    <% end %>

    <% dishes.each do |dish| %>
    <a class="recipe-tile" href="<%= dish.view_path %>">
        <div class="recipe-tile-image pos-rel">
            <img src="<%= dish.image.url %>"/>
            <div class="recipe-tile-image-meta">
                <img src="<%= dish.creator.picture_url%>" class="img-circle" style="width:20px; height: 20px;"/>
                <span class="recipe-tile-image-meta-name"><%= dish.creator.full_name %></span>
                <span class="chefscore-badge-clear">
                  <i class="fa fa-fire"></i>
                  <%= dish.creator.favorites_count %>
                </span>
            </div>
            <% if dish.is_purchasable %>
            <div class="recipe-tile-purchasable" title="Great! This dish is available for purchase pre-made." data-toggle="tooltip" data-container="body">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <% end %>
        </div>

        <div class="recipe-tile-content">
            <div class="recipe-title" style="font-size: <%= dish.title.length < 30 ? "18" : "16" %>px;">
                <%= truncate(dish.title, length: 40)%>
            </div>

            <div class="recipe-description">
                <%= truncate(dish.description, length: 50)%>
            </div>

            <div class="recipe-footer">
                <span class="recipe-favorites-count" style="margin-right: 10px;">
                    <i class="fa fa-heart" style="color: red;"></i>
                    <%= dish.favorites_count %>
                </span>
                <% if dish.has_directions? %>
                <span class="recipe-duration" style="margin-right: 5px;">
                    <i class="fa fa-clock-o"></i>
                    <%= dish.prep_time_details[:text] %>
                </span>
                <% end %>
                <% if dish.has_purchase_info? %>
                <span class="recipe-footer-section" style="color: #ccc;">
                    <i class="fa fa-shopping-cart" title="Purchase Info Available"></i>
                </span>
                <% end %>
            </div>


        </div>
    </a>
    <% end %>  
</div>

