<div class="recipe-container">
  <div class="recipe-image-backdrop">
    <img src="<%= @dish.image.url %>"/>
  </div>

  <div class="header-space"></div>

  <div class="row" style="margin: 0px;"><div class="col-md-9">

    <a class="recipe-image" href="<%= @dish.image.url %>" data-lightbox="recipe-image-full" data-title="<%= @dish.title %>">
      <img class="df-card pad-0" src="<%= @dish.image.url %>"/>
      <div class="expand text-center">
        <i class="fa fa-camera" style="margin-right: 5px;"></i>
        Click to expand photo
        <span style="margin: 0px 5px; color: #777;">&bull;</span>
        <i class="fa fa-chevron-down" style="margin-right: 5px;"></i>
        Scroll down for details
      </div>
    </a>

    <div class="recipe-content df-card">
      <div class="recipe-title">
        <h1><%= @dish.title %></h1>
      </div>

      <div class="recipe-meta row" style="max-width: 700px; margin: 0px auto; padding-bottom: 10px;">
        <div class="col-xs-3">
          <img src="<%= @creator.picture_url %>" class="img-circle" style="width: 80px; height: 80px;"/>
        </div>
        <div class="col-xs-9 text-left">
          <div class="recipe-meta-name" style="color: #555;">
            <a href="<%= @creator.view_path %>"><%= @creator.full_name %></a>
            <span class="badge chefscore-badge" title="ChefScore is the total number of favorites on all dishes"data-toggle="tooltip">
              <i class="fa fa-fire"></i>
              <%= @creator.favorites_count %>
            </span>
            <% if @following.present? %>
              <button type="button" class="btn btn-clear" style="margin-left: 5px" onclick="deleteFollowing(<%= @following.id %>, ['.recipe-meta']);">
                Unfollow
              </button>
            <% else %>
              <button type="button" class="btn btn-clear" style="margin-left: 5px" onclick="followUser(<%= @creator.id %>, ['.recipe-meta']);">
                Follow
              </button>
            <% end %>

            <% if @user_reaction.present? && @user_reaction.is_favorite == true %>
              <button type="button" class="btn btn-clear" onclick="unfavoriteRecipe(<%= @user_reaction.id %>);">
                <i class="fa fa-heart-o"></i>
                Unfavorite
              </button>
            <% else %>
              <button type="button" class="btn btn-clear" onclick="favoriteRecipe(<%= @dish.id %>);">
                <i class="fa fa-heart"></i>
                Favorite
              </button>
            <% end %>
          </div>
          <div class="recipe-meta-info">
            <i class="fa fa-heart"></i>
            <%= @dish.favorites_count %>
            &bull;
            <%= @dish.created_at.strftime("%B %-d, %Y") %>
      
            <% if current_user != nil %>
              <% if is_me?(@creator) || current_user.is_superadmin %>
              &bull;          
                <a href="<%= @dish.view_path %>/edit">Edit Dish</a>
              <% end %>
            <% end %>
          </div>
          <!-- Go to www.addthis.com/dashboard to customize your tools --> 

        </div>
      </div>
      <div class="addthis_inline_share_toolbox" style="margin: 5px; text-align: center;" 
        data-url="<%= @dish.view_path(full: true) %>"
        data-title="<%= @dish.title %>"
        data-media="<%= @dish.image.url %>"
        >
      </div>

      <div class="recipe-description recipe-section text-center">
        <%= raw @dish.description_html %>
      </div>

      <div class="recipe-info recipe-section row">
        <div class="col-sm-6">
          <h5>Serving Size</h5>
          <p>Makes <%= @dish.serving_size %> servings </p>
        </div>
        <div class="col-sm-6">
          <h5><span>Preparation Time</span></h5>
          <p>
            <% if !@dish.has_prep_time? %>
              See Below
            <% else %>
            <%= @dish.prep_time_details[:text] %>
            <% end %>
          </p>
        </div>
      </div>

      <% if @dish.is_recipe_private != true || is_me?(@dish.creator) %>
      <% if @dish.ingredients.present? %>
      <div class="recipe-ingredients recipe-section">
        <h2><span>Ingredients</span></h2>
        <div class="recipe-ingredients-body">
          <%= raw @dish.ingredients_html %>
        </div>
      </div>
      <% end %>

      <% if @dish.directions.present? %>
      <div class="recipe-prep recipe-section">
        <h2><span>Directions</span></h2>
        <div class="recipe-prep-body">
          <%= raw @dish.directions_html %>
        </div>
      </div>
      <% end %>
      <% end %>

      <% if @dish.purchase_info.present? %>
      <div class="recipe-purchase recipe-section">
        <h2><span>Where To Buy</span></h2>
        <div class="recipe-purchase-body">
          <%= raw @dish.purchase_info_html %>
        </div>
      </div>
      <% end %>

      <div class="recipe-tags recipe-section">
        <% @dish.tags.each do |tag| %>
          <span><%= tag %></span>
        <% end if @dish.tags %>
      </div>
    </div>

    <div class="comments-content text-left df-card" style="margin-top: 20px; margin-bottom: 20px;">
      <% if current_user != nil %>
      <div class="new-comment">

        <div class="new-comment-image">
          <img src="<%= current_user.picture_url %>" class="img-circle" style="width: 40px; height: 40px;"/>
        </div>
        <div class="new-comment-text">
          <textarea type="text" name="body" placeholder="Add a comment." rows="3"></textarea>  
        </div> 
        <div class="new-comment-submit" style="padding: 20px 10px;">
          <button type="button" class="btn btn-default" onclick="submitComment();">Submit</button>
        </div>

      </div>
      <% end %>

      <div class="comments">
        <% @comments.each do |comment| %>
        <div class="comment">

          <div class="comment-image">
            <img src="<%= comment.user.picture_url %>" class="img-circle" style="width: 40px; height: 40px;"/>
          </div>

          <div class="comment-body">

            <div class="comment-creator">
              <a href="/user/<%= comment.user_id %>"><%= comment.user.full_name %> </a>
              <span class="comment-date">
                <%= time_ago_in_words(comment.created_at) %>
              </span>
            </div>

            <div class="comment-text">
              <%= comment.body %> 
            </div>

          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="sidebar-panel df-card">
      <div class="sidebar-title">
        Recent Dishes
      </div>
      <%= render partial: "tile_grid", locals: {dishes: @dishes} %>
    </div>
  </div></div>

</div>

<style>
.comments-content {
  padding: 30px;
  background: #fafafa;

}

.comments-content .new-comment {
  border: 1px solid #f4f4f4;
  background: #fff;
  display: flex;
}

.comments-content .new-comment .new-comment-text {
  flex: 1;
}

.recipe-meta-info i{
  color: red;
}

.new-comment-image {
  padding: 20px;
}

.new-comment .new-comment-submit {
  text-align: center;
}

.new-comment .new-comment-submit button {
  padding: 15px;
}

.comments-content .comment {
  border: 1px solid #f4f4f4;
  background: #fff;
  display: flex;
  margin: 30px 0px;
  padding: 20px;
}

.comment .comment-image {
  padding-right: 20px;
}

.new-comment-text textarea {
  width: 100%;
  padding: 20px;
  border: none;
}

.new-comment-text textarea:focus {
  outline: none;
}

.comment .comment-creator a {
  color: black;
}

.comment .comment-creator .comment-date {
  color: #808386;
  font-size: 80%;
}


.comments .comment-text {
  width: 100%;
  border: none;
  flex: 1;
  color: #505356;
}
</style>

<script>

var recipeID = <%= @dish.id %>;

function submitComment() {

  var body = $('textarea[name=body]').val();
  var recipe_id = recipeID;

  data = {
    dish_id: recipe_id,
    body: body,
  }

  apiRequest({
    url: "/comment",
    method: "POST",
    data: data,
    success: function(resp) {
      updatePage([".comments-content"]);
    },
    error: function(resp) {
      $.alert(resp.error);
    }
  });
}

$(function() {
  <% if @dish.created_by?(current_user) && !current_user.has_flag?(1) %>
  showModalFromURL("shareYourDish", "/modal/share_your_dish", {closeIcon: false});
  <% end %>
});


</script>
