<div class="header-space"></div>

<div class="account-profile-container">
  <div class="col-md-12">
    <h1>Your Profile</h1>

    <div class="profile-picture">
      <img src="<%= current_user.picture_url %>" class="img-circle" style="width: 70px; height: 70px;"/>
    </div>

    <div class="profile-name">
       <a href="<%= current_user.view_path %>"><%= current_user.full_name %></a>
    </div>
    <div class="profile-status">
      <div class="status-info col-xs-4 pad-0">
        <div class="status-info-number">
          <%= current_user.dishes.count %>
          </div>
        <div class="status-info-title">
          dishes
        </div>
      </div>

      <div class="status-info col-xs-4 pad-0">
        <div class="status-info-number">
          <%= current_user.followings_of_me.count %>
        </div>
        <div class="status-info-title">
          followers
        </div>
      </div>

      <div class="status-info col-xs-4 pad-0">
        <div class="status-info-number">
          <%= current_user.followings_by_me.count %>
        </div>
        <div class="status-info-title">
          following
        </div>
      </div>
    </div>

  <div class="logout">
    <a class="btn btn-inverse" href="/logout">Log Out</a>
  </div>

  <div class="personal-settings">
    <h3>Change Your Picture</h3>
    <form class="form-horizontal">
      <div class="img-change">
        <input type="file" name="picture">
        <button type="button" class="btn btn-success btn-lg btn-full" onclick="updatePicture();">
          <i class="fa fa-check"></i>
          Update Picture
        </button>
      </div>
    </form>

    <h3 id="settings">Edit Your Personal Settings</h3>
    <div class="form-horizontal">
      <div class="form-group">
        <label for="inputFirst" class="control-label">First Name</label>
        <input type="text" name="first_name" class="form-control input-lg" value="<%= current_user.first_name %>"/>
      </div>

      <div class="form-group">
        <label for="inputLast" class="control-label">Last Name</label>
        <input type="text" name="last_name" class="form-control input-lg" value="<%= current_user.last_name %>"/>
      </div>

      <div class="form-group">
        <label for="inputEmail" class="control-label">Email</label>
        <input type="text" name="email" class="form-control input-lg" value="<%= current_user.email %>"/>
      </div>

      <div class="form-group">
        <label>About Me</label>
        <textarea class="form-control input-lg" name="bio" placeholder="Tell us about yourself."><%= current_user.bio %></textarea>
        
      </div>

      <div class="form-group">
        <label>Notification Frequency</label><br/>
        <select name="notification_frequency">
          <option value="1">Daily</option>
          <option value="2">Weekly</option>
          <option value="3">None</option>
        </select>
      </div>

      <button type="button" class="btn btn-success btn-lg btn-full" onclick="saveChanges();">
        <i class="fa fa-check"></i>
        Save Changes
      </button>
    </div>

    <h3>Change Password</h3>
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label">New Password</label>
        <input type="password" name="password" class="form-control input-lg"/>
      </div>
      <div class="form-group">
        <label class="control-label">Confirm New Password</label>
        <input type="password" name="password_confirm" class="form-control input-lg"/>
      </div>
      <button class="btn btn-success btn-lg btn-full" onclick="updatePassword();">
        <i class="fa fa-check"></i>
        Update Password
      </button>
    </div>
  </div>
</div>

<script>
function saveChanges() {
  var first_name = $('input[name=first_name]').val();
  var last_name = $('input[name=last_name]').val();
  var email = $('input[name=email]').val();
  var bio = $('textarea[name=bio]').val();
  var nf = $('select[name=notification_frequency]').val();


  data = {
    first_name: first_name,
    last_name: last_name,
    email: email,
    bio: bio,
    notification_frequency: nf,
  };

  apiRequest({
    url: "/account",
    method: "POST",
    data: data,
    success: function(resp) {
      $.alert("Your changes have been saved!");
    }
  });

}

function updatePicture() {
  var picture = $('input[name=picture]')[0].files[0];

  data = {
    picture: picture,
  };

  if (picture != null) {
    data['picture'] = picture;
  }

  apiRequest({
    url: "/account",
    method: "POST",
    data: data,
    hasFile: true,
    success: function(resp) {
      updatePage([".navbar", ".profile-picture"]);
      $.alert("Your picture has been updated!");
    },
    error: function(resp) {
      $.alert(resp.error);
    }
  });
}

function updatePassword() {
  var pw = $('input[name=password]').val();
  var pw_conf = $('input[name=password_confirm]').val();
  if (pw != pw_conf) {
    $.alert("Your passwords don't match.");
    return;
  }
  var data = {
    password: pw
  };
  apiRequest({
    url: "/account",
    method: "POST",
    data: data,
    success: function(resp) {
      $.alert("Your password has been updated!");
    },
    error: function(resp) {
      $.alert(resp.error);
    }
  });
}

</script>

