<!DOCTYPE html>
<html>
<head>
    <title><%= page_title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/pltools/fonts/kahlua-icons/1.01/css/kahlua-icons.css">
    <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.0.1/jquery-confirm.min.css" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.min.css" />

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.0.1/jquery-confirm.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=0.8">
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58d925bf20945d90"></script>

    <!-- Social media tags -->
    <%= render partial: "shared/socialtags" %>
    <link id="favicon" rel="icon" type="image/png" sizes="64x64" href="/favicon.png">
</head>

<body class="<%= @body_style %>">
  <% if @show_header == true %>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #d64541; border: #d64541;">
      <div class="container-fluid-flex">
        <a class="navbar-logo navbox" href="/">
          <img src="/assets/logo_white.png" style="height: 40px;"/>
        </a>

        <div class="navbox navbox-search" role="search">
          <i class="fa fa-search mr-5"></i>
          <input type="text" class="recipe-search-input" placeholder="Search Dishes" onkeyup="handleRecipeTyping(event, this);"/>
        </div>

        <div class="navbox navbox-primary-links" style="">
        
          <a href="/dishes" class="navbar-link" style="color: #fff">
            <i class="fa fa-cutlery" aria-hidden="true"></i> 
            <span class="link-title">Dishes</span>
          </a>
          
          <a href="/members" class="navbar-link hidden" style="margin-left: 10px; color: #fff">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            <span class="link-title">Members</span>
          </a>

          <a href="/activity" class="navbar-link" style="margin-left: 10px; color: #fff">
            <i class="fa fa-comments-o" aria-hidden="true"></i>
            <span class="link-title">Activity</span>
          </a>
        </div>

        <div class="navbox">
          <a href="/dish/create" class="navbar-link" style="">
            <i class="fa fa-plus-circle"></i>
            <span class="link-title">New Dish</span>
          </a>  
        </div>

        <% if signed_in? %>
        <div class="navbox navbox-chefscore">
          <a class="navbar-link" href="/activity?filter=favorites" title="Your ChefScore is the total number of favorites you have on all your dishes. Share your dishes to get more favorites!" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-fire"></i>
            <%= current_user.favorites_count %>
          </a>
        </div>
        <% end %>

        <div class="navbox navbox-avatar">
          <% if signed_in? %>
            <a href="<%= current_user.view_path %>" class="navbar-link">
              <img class="img-circle" src="<%= current_user.picture_url %>" style="width: 30px; height: 30px;"/>
            </a>
          <% else %>
            <a href="#" class="navbar-link" style="" onclick="promptSignIn();">
              <i class="fa fa-sign-in"></i>
              <span class="link-title">Sign In</span>
            </a>
          <% end %>
        </div>



      </div>
    </nav>
  <% end %>

  <%= yield %>

  <div class="footer">
    <span>
      © <%= Time.now.year %> Dishfave.com. All Rights Reserved.
    </span>
    <a href="mailto:contact@dishfave.com">Contact Us.</a>
  </div>

  <script>
  <% if current_user %>
    var currentUser = <%= raw current_user.to_api.to_json %>;
  <% else %>
    var currentUser = null;
  <% end %>
  $(function() {
    var opts = {
      app_class: Dishfave.Application,
      user_class: Dishfave.User,
      environment: '<%= Rails.env %>',
      build_number: <%= 0 %>,
      data: <%= jsify(js_data) %>
    };
    <% if current_user %>
    opts.current_user = <%= jsify(current_user.to_api) %>
    <% end %>
    window.App = QuickScript.initialize(opts);
  });
  
  </script>
  <% if Rails.env.production? %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-101013370-1', 'auto');
  ga('send', 'pageview');

  </script>
  <% end %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.min.js"></script>
</body>
</html>
