<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.0.1/jquery-confirm.min.css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.0.1/jquery-confirm.min.js"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=0.7">
</head>
<body class="<%= @body_style %>">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      iCook
    </a>
    <div class="navbar-text navbar-right" style="margin: 10px 5px;">
      <a href="/account" class="navbar-link">
        <img class="img-circle" src="/assets/default-user.png" style="width: 30px;"/>
      </a>
    </div>

    <div class="navbar-form navbar-right navbar-search" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </div>

    <div class="navbar-text navbar-right" style="margin: 9px 5px;">
      <a href="/recipe/create" class="navbar-link btn btn-default">
        <i class="fa fa-plus-circle"></i>
        New Recipe
      </a>
    </div>

  </div>
</nav>

<%= yield %>

</body>
</html>
